# Derived From:
# http://kleber-swf.com/the-definitive-gitignore-for-unity-projects/

# ============= #
# Working Files #
# ============= #
node_modules/
npm-debug.log

# ===================== #
# Working Files - Unity #
# ===================== #
Assets.meta
[Ll]ogs/
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Tt]emp/
[Oo]bj/
[Uu]nityGenerated/
sysinfo.txt
/Temp/
/Library/
/Packages/
/ProjectSettings/
/assets/Plugins/
/assets/Plugins.meta
/*.csproj
/*.sln


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
/.vs/
bin
obj
ExportedObj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
*.pdb
*.pdb.meta

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
*~
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Assets/Plugins/Editor/JetBrains*
[Ee]xportedObj/
*.csproj
*.csproj.meta
*.sln
*.suo
*.userprefs
*.pidb
*.pidb.meta
*.unityproj
.vs
.idea

# =================== #
# Miscellaneous files #
# =================== #

*.swp
Thumbs.db
Thumbs.db.meta
*.blend1
*.blend1.meta